<!DOCTYPE html>
<html>

<head>
    <link href="/css/style.css" rel="stylesheet" type='text/css'>
    <link rel="icon" href="/img/favicon.ico">
    <title>{{title}}</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Ronson Xaviour. It uses data from mapbox.com and darksky.net</p>
        <img src='/img/robot.png' class="portrait">
    </div>
    {{>footer}}
</body>

</html>