<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/favicon.ico">
    <link href="/css/style.css" rel="stylesheet" type='text/css'>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Contact {{email}}</p>
    </div>
    {{>footer}}
</body>

</html>